/* Coolors Exported Palette - coolors.co/483c46-3c6e71-d77514-70ae6e-beee62 */

/* HSL */
$color1: hsla(310%, 9%, 26%, 1);
$color2: hsla(183%, 31%, 34%, 1);
$color3: hsla(30%, 83%, 46%, 1);
$color4: hsla(118%, 28%, 56%, 1);
$color5: hsla(81%, 80%, 66%, 1);

/* RGB */
$color1: rgba(72, 60, 70, 1);
$color2: rgba(60, 110, 113, 1);
$color3: rgba(215, 117, 20, 1);
$color4: rgba(112, 174, 110, 1);
$color5: rgba(190, 238, 98, 1);