/*
  Author: Kelley Fischer
  Date: 12/13/19

*/

/* HTML and Body */
html {
  background-color: #FA0416;
}

body {
  background-color: white;
  min-width: 320px;
  max-width: 960px;
  height: 100vh;
  margin: 0 auto 0 auto;
  padding: 5px;
}



/* Header Styles */
header {
  height: 20vh;
  background-image: url("../assets/ship_wheel.png");
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

header h1 {
  position: absolute;
  font-size: 2.5em;
  left: 50%;
  margin-left: -125px;
  top: 50%;
  margin-top: -30px;

  /* border: 1px solid red; */
}

header h4 {
  text-align: center;
  position: relative;
  top: 80%;
}


#copyright {
  font-size: 0.3em;
}


/* Navigation Bar Styles */

.horizontal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-display: flex;
  display: flex;
}

.horizontal li {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  /* border: 1px solid red; */
}

.horizontal li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
