/*
  Author: Kelley Fischer
  Date: 12/13/19

*/

/* HTML and Body */
html {
  background-color: #FFFFFF;
  font-family: Candara, sans-serif;
}

body {
  background-color: #FFFFFF;
  min-width: 320px;
  max-width: 960px;
  height: 100vh;
  margin: 0 auto 0 auto;
  padding: 5px;
}


/* Header Styles */
header {
  height: 20vh;
  background-image: url("../assets/ship_wheel.png");
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

header h1 {
  position: absolute;
  font-size: 2.5em;
  left: 50%;
  margin-left: -130px;
  top: 50%;
  margin-top: -30px;
}

header h5 {
  text-align: center;
  position: relative;
  top: 70%;
}

#copyright {
  font-size: 0.3em;
}


/* Navigation Bar Styles */
.horizontal {
  width: 100%;
}

.horizontal ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
  -webkit-display: flex;
  display: flex;
  box-shadow: 0px 5px 10px;
}

.horizontal li {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;

}

.horizontal li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  padding: 14px 16px;
}

a:link, a:visited {
  background-color: #D77514;
}

a:active, a:hover{
  background-color: #FFB46B;
}
