/*
  Author: Kelley Fischer
  Date: 12/13/19

*/

/*-------------------------------- Debugging --------------------------------*/
/* * {
   border: 1px solid red;
} */


/*------------------------------ HTML and Body ------------------------------*/
html {
  background-color: #483C46;
  font-family: Candara, sans-serif;
}

body {
  background-color: #BEEE62;
  min-width: 320px;
  max-width: 960px;
  min-height: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
}

* {
  box-sizing: border-box;
}


/*------------------------------ Header Styles ------------------------------*/
header {
  margin: 0;
  padding: 3vh;
  background: #3c6e71 url("../assets/ship_wheel.png") center / 20vh no-repeat;
  background-image: url("../assets/ship_wheel.png");
}

header h1 {
  color: #ffffff;
  font-size: 3em;
  text-align: center;
  font-variant: small-caps;
  text-shadow: 3px 3px 5px #483c46;
  margin-bottom: 0;
}

header h5 {
  color: #483c46;
  text-align: center;

  width: 60%;
  margin: 0 auto 3vh auto;
  padding-top: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

#order-header {
  color: white;
  text-align: center;
  font-variant: small-caps;

  width: 80%;
  margin-left: auto;
  margin-right: auto;

  border-radius: 5px;
  box-shadow: -2px 2px 3px #483c46;
  background-color: #483c46;
}


/*-------------------------- Navigation Bar Styles --------------------------*/
.horizontal {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #D77514;
}

.horizontal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: 0px 3px 5px #483c46;
  -webkit-display: flex;
  display: flex;
}

.horizontal li {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.horizontal li a {
  display: block;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

.horizontal a:link, .horizontal a:visited {
  background-color: #D77514;
}

.horizontal a:active, .horizontal a:hover{
  background-color: #FFB46B;
}


/*--------------------------- Main/Article Styles ---------------------------*/
#home-main {
  padding: 5px 10px;
  min-height: 80vh;
}

#home-main h2 {
  text-align: center;
}

#pizza {
  width: 40%;
  float: right;
  padding-left: 1em;
}

#home-main::after {
  content: "";
  display: table;
  clear: both;
}


/*------------------------------- Form Styles -------------------------------*/
.order {
  padding: 10px 10px;
  height: 60vh;
  display: flex;
  flex-direction: row;
}

.order legend {
  color: white;
  font-size: 1.2em;
  font-variant: small-caps;
  background-color: #483c46;
  padding: 2px 7px;
  border-radius: 3px;
  text-align: center;
  box-shadow: -2px 2px 3px #483c46;
}

fieldset {
  flex: 1 1 auto;
  margin: 0px 5px;
  padding: 10px;

  border: 1px solid #70ae6c;
  border-radius: 10px;
  box-shadow: -3px 3px 5px #483c46;
  background: linear-gradient(to top right, #70ae6c, #BEEE62);

  color: #483c46;
  font-weight: bold;
  font-family: Calibri, Arial, sans-serif;
}

.toppings {
  margin: 10px;
  padding: 5px;
  border: 1px solid #70ae6c;
  border-radius: 5px;
  background-color: #D77514;
}

.toppings-location {
  visibility: hidden;
  text-align: right;
  margin-top: 3px;
}

.meat-style {
  float: right;
  visibility: hidden;
}

.toppings::after {
  content: "";
  display: table;
  clear: both;
}


/*------------------------------ Button Styles ------------------------------*/
#order-buttons {
  margin: 10px;
  padding: 5px;
  text-align: center;
}

#order-buttons button {
  font-size: 1.3em;
  color: #FFFFFF;

  margin-left: 15px;
  background-color: #3c6e71;
  border-color: #3c6e71;
  border-radius: 20px;
}


/*------------------------------ Footer Styles ------------------------------*/
footer {
  background-color: #70ae6c;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 0.8em;
}

footer h4 {
  margin-bottom: 0;
}

#footer-box-1 {
  text-align: center;
  grid-row: 2;
}

#footer-box-2 {
  text-align: center;
  grid-row: 2;
}


/*------------------------------ Media Queries ------------------------------*/
@media query {

}
