<!DOCTYPE html>
<!--
  Author: Kelley Fischer
  Date: 12/13/19
 -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./css/style.css">
  <title>Sky City Pizza</title>
</head>
<body>
  <header>
  <div class="header-container">
    <img src="assets/ship_wheel.png" alt="Ship Wheel" width="50px">  <!-- Remove image width -->
    <h1>Sky City Pizza </h1>
    <img id="logo" src="assets/logo.png" alt="SCP Logo of a drone carrying pizza"> <!-- Remove image width -->
  </div>
  <h4>Responsibly, Locally Sourced Ingredients & Fast Drone Delivery<sup id="copyright">&copy;</sup></h4>
</header>
