<!DOCTYPE html>
<!--
  Author: Kelley Fischer
  Date: 12/13/19
 -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/style.css">
  <title>Sky City Pizza</title>
</head>
<body>
  <header>
  <h1>Sky City Pizza </h1>
  <h5>Responsibly, Locally Sourced Ingredients. Fast Drone Delivery.<sup id="copyright">&copy;</sup></h5>
  </header>

  <nav class="horizontal">
    <ul>
      <li><a href="index.php">Home</a></li>
      <li><a href="menu.php">Menu</a></li>
      <li><a href="order.php">Order</a></li>
      <li><a href="about.php">About</a></li>
      <li><a href="careers.php">Careers</a></li>
    </ul>
  </nav>

  <div class="carousel">

  </div>
  <main>
    <h2>Welcome to Sky City Pizza!</h2>

      <p>You've just landed where our drones take off carrying the delicious pizza
      made with 100% Organic & locally sourced ingredients, baked in our
      Aeronautical Radiant Heat Boiler Oven. Ok, actually we just use a regular
      commercial pizza oven, but it's as good (or better) as using an Aeronautical
      Radiant Heat Boiler Oven.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.</p>

    <img src="../assets/pizza1.jpg" alt="delicious pizza" width="200">
    <figcaption>Eat it clad in pinstripe and brass or don't, it's your life.</figcaption>
  </main>
  <footer><em>123 Main St &#8226; Littlefork, MN &#8226; 56653</em></footer>
</body>
</html>
